h1 {
    color: #46244C;
    margin-top: 0;
}

body {
    background-color: #F7E2E2;
    margin: 0;
}

#top_div_1 {
    margin-inline-start: 0%;
    margin-inline-start: 0%;
    margin-left: 0;
    background-color: blue;
}

#majak {
    /* padding: 20%; */
    background-color: #46244C;
    height: 200px;
    width: 200px;
}

#majak_1 {
    /* padding: 20%; */
    background-color: burlywood;
    height: 200px;
    width: 200px;
}