body {
    background-color: #EAF6F6;
}

hr {
    /* background-color: white; */
    /* border-style: dotted none none; */
    border : none;
    border-top: dotted;
    /* height: 0%; */
    border-color: grey;
    border-width: 5px;
    width: 4%;
}



/* ****************TAG Selectors**************** */

h1  {
    color: #66BFBF;
}

h2  {
    color: #66BFBF;
}


/* ****************CLASS Selectors**************** */
/*
.class_name {

}
*/

/* ****************ID Selectors**************** */

/* 
#id_name {
    
}
*/
